.header {
  display: flex;
  border-bottom: 2px solid #ccc;

  padding-top: 45px;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  max-width: 1280px;
}

.header__logo {
  max-width: 173px;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 320px;
    margin: auto;
  }
}
